form {
    max-width: 700px;
    margin: 50px auto;
    padding: 2rem 2.5rem;
    background-color: #fff;
    border: 2px solid #28a745;
    border-radius: 8px;
}
h1{
    color: #28a745;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

label {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
}

input,
select{
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
}

span {
    color: #d93025;
    font-size: 1rem;
    margin-top: 1rem;
}

button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
